.AdvertisementOne{
    height: 380px;
    width:335px ;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}
.AdvertisementOne__header{
    font-size: 21px;
    line-height: 27px;
    font-weight: bold;
    padding: 15px;
}
.AdvertisementOne__body{
    padding: 15px;
}
.AdvertisementOne__footer{
    padding: 15px;
}