.navbar{
    display: flex;
 
  
    background-color:#232F3E ;
    width: 100%;
    color: white;
    height: 4vh;
     
}
.navbar__icon:hover{
    border: 2px solid white;
}
.navbar__icon{
    margin-top: -0.6%;
    margin-bottom: 1%;
    margin-left: 1%;
    display: flex;
    gap: 1px;
    cursor: pointer;
}
.navbar__text{
    margin-top: -0.6% !important;
    margin-bottom: 1%;
    margin-right: 67%;
    display: flex;
    gap: 14px;
    cursor: pointer;
}
.navbar__text__hover:hover{
    border: 2px solid white;
    overflow: hidden;
}