.GiftCardRight_Item{
    display: grid;
    margin: 4% 0 0 8%;
}
.GiftCardRight_ItemFlex{
    display: flex;
    flex-wrap: wrap;
}
.GiftCardRight_Button > button{
    background-color: #232f3e;
    color: #eaebed;
    height:8vh;
    width: 14%;
    display: inline-flex;
    border-radius: 10px;
    padding: 16px 2px 30px 50px;
    outline: none;
    border: none;
    margin-left: 2%;
    font-weight: 600;

}
.GiftCardRight_Button{
    display: flex;
    margin: 0 4% 0 4%;
}
.GiftCardRight_ItemImage{
    width: fit-content;
}
.GiftCardRight{
    
  border-left: 5px solid #dddddd;
}