.ProductLeft{

   margin: 40% 10% 0% 20%;
    width: 80%;
    
}
.ProductLeft__header{
    font-weight: bold;
    margin: 10px;
}
.ProductLeft__name{
    display: block;
    width: 100px;
}
.ProductLeft input{
    margin-right: 4px;
}