.ProductRight{
    
    display: flex;
    flex-wrap: wrap;
    margin: 4% 0 0 8%;
}
.product__div{
    border: 2px solid #F3F3F3;
    word-wrap: break-word;
    width: 30%;
}
.product__img{
    margin: 8% 8% 8% 10%;
    display: flex;
    justify-content: center;
}
.product__text{
    margin: 8% 8% 8% 10%;
}