.header{
    background-color:#231f20 ;
    height: 5rem;
    margin-top: 0px;
    display: flex;
    align-items: center;
    width: 100%;
}
.header__dropdown{
    position: absolute;
    margin-left: 15%;
    height: 6%;
    margin-top: -16px;
    width: 5vw;
    padding: 0%;
    cursor: pointer;
    background-color: #F3F3F3;
    text-align-last: center;
    border-radius: 5px 0px 0px 5px;
}
.header__searchIcon{
    background-color: #cd9042;
    padding: 10%;
    margin-top: 4px;
}
.header__searchInput{
    height: 42%;
    padding: 1%;
    border: none;
    outline: none;
    width: 40%;
    margin-left: 20%
}
.header__search{
    display: flex;
    background-color: #cd9042;
    height: 42%;
   cursor: pointer;
}
.header__logo{
    object-fit: contain;
    width: 100%;
}
.header__flex{
    display: flex;
}
.header__location{
    position: absolute;
    color: white;
    margin-left: 8rem;
    display: flex;
}
.header__location__icon{
    color: white;
    margin-top: 60%;
    
}
.header__location__text{
    display: grid;
}
p{
    margin: 0px;
    padding: 0px;
}
.header__sigin{
    position: absolute;
    color: white;
    margin-top: -1rem;
    margin-left: 10%;
}
.header__order{
    position: absolute;
    color: white;
    margin-left: 22%;
    margin-top: -1rem;
}
.header__cart{
    position: absolute;
    color: white;
     margin-left: 30%; 
    margin-top: -1rem;
    display: flex;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.header__counter{
    position: absolute;
    margin-left: 1rem;
    margin-top: -1rem;
    color: #cd9042;
}
.foo{
    text-align: center;
}
.header__dropdown__icon{
    position: absolute;
    margin-left: 7rem;
    width: 10vw;
}
