.AdvertisementOne{
    height: 380px;
    min-width:300px ;
    background-color: white;
    margin: 10px;
    padding-right: 14px;
 
}
.AdvertisementOne__header{
    font-size: 21px;
    line-height: 27px;
    font-weight: bold;
    padding: 15px;
}
.AdvertisementOne__body{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}
.AdvertisementOne__footer{
    padding: 15px;
}
.AdvertisementFour__image{
    width: 114px;
    height: 100px;
    margin: 5px;
}