.AdvertisementOne{
    height: 380px;
    min-width:335px ;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 3px;
}
.AdvertisementOne__header{
    font-size: 21px;
    line-height: 27px;
    font-weight: bold;
    padding: 15px;
}
.AdvertisementOne__body{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}
.AdvertisementOne__footer{
    padding: 15px;
}
.AdvertisementFour__image{
    width: 140px;
    height: 100px;
    margin: 5px;
}